<%=  form_for (@clients, url: {action: :login}, method: :post) do |p| %>
<div class='field'>
	<%= f.label  :email %> <br>
	<%= f.text_field :email %>
</div>

<div class='field'>
	<%= f.label  :password %> <br>
	<%= f.password_field :password %>
</div>

<% if flash[:error] %>
	<div class='error'>
		<%= flash[:error]%>
	</div>
    <%end%>
<div class='field'>
	<%= f.label  :password %> <br>
	<%= f.password_field :password %>
</div>

<div class='action'>
	<%= f.sumbit, "tocame rico" %> <br>
	
</div>
<%end%> 

